<h1><%= @restaurant.name  %></h1>

<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %></li>
  <% end %>
</ul>
<p><%= link_to "Create a new review", new_restaurant_review_path(@restaurant.id), class: "btn btn-warning" %></p>
<p><%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary" %></p>

<%= render "form", restaurant: @restaurant, review: @review %>
